.cart_container{
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow-y: scroll;
    width: 66%;
}
.cart_cards{
}
.cart_img{
}
.product-image{
    height: 140px;
    background-color: #5a5a5a;
    display: inline;
}
.product-image img {
    width: 12em;
    
}
.shop-container{
    width: 66%;
}